<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Account-Appility
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="component-content" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account-Appility</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Estado de cuenta</h1>
    <ion-accordion-group>
      <ion-accordion value="uyu">
        <ion-item slot="header">
          <ion-label>UYU - 0</ion-label>
        </ion-item>

        <ion-list slot="content">
          <ion-item>
            <ion-label>
              <p>Próximamente...</p>
              <ul>
                <li>Permitirá ver los últimos 5 movimientos</li>
                <li>Permitirá modificar entradas antiguas</li>
              </ul>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>
      <ion-accordion value="usd">
        <ion-item slot="header">
          <ion-label>USD - 0</ion-label>
        </ion-item>

        <ion-list slot="content">
          <ion-item>
            <ion-label>
              <p>Próximamente...</p>
              <ul>
                <li>Permitirá ver los últimos 5 movimientos</li>
                <li>Permitirá modificar entradas antiguas</li>
              </ul>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
    <ion-button expand="full">+ Ingresar movimiento</ion-button>
  </div>
</ion-content>
